---
title: Home
---

<h2>Welcome</h2>

<!---<img src="/images/haskell-logo.png" style="float: right; margin: 10px;" />-->

<p>Welcome to vnord (pronounced the Prussian way, /fnôrd/)!</p>

<p>I've reproduced a list of recent vnords here for your vnording pleasure:</p>

<h2>vnords</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">vnordchives</a>.</p>
